 <div class="row">
<%= render 'list', user: @user %>

<div class="col-lg-8">
 <h2>Books</h2>
 

<table class="table table-hover table-inverse">
    
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>


</div>
</table>
</div>