
<p id="notice"></p>


<div class="container">

 <div>
  <%= flash[:notice] %>
</div>

 <div class="row">
  <div class="mx-auto cal-11 col-sm-10 col-lg-8 col-xl-6">

<script src="https://kit.fontawesome.com/b832ec735d.js" crossorigin="anonymous"></script>

<h1>welcome to<i class="fas fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
<p>In<i class="fas fa-solid fa-book"></i><strong>Bookers,</strong></p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>


  <div class="btn-wrapper col-10 mx-auto">
   <div class="row">
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
   </div>


  <%= link_to "Log in", new_user_session_path, class: "btn btn-info btm-sm btn-block mb-3 sign_in" %>

  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btm-sm btn-block sign_up" %>
  </div>
  </di>
  </div>
  </div>

</footer>